.expenses
{
    width: 80%;
    margin: auto;
    margin-top: 2em;
    padding-top: 1px;
    border: gainsboro solid 1px;
    list-style-type: none;
    padding: 0;

    
}

.expense
{
    display: flex;
    border-bottom: rgba(220, 220, 220, 0.534) solid  1px;
}

.left
{
    padding: .2em 1.5em;
    max-width: 75%;

    h1
    {
        font-size: 2rem;
        font-weight: 300;
        margin: .5em 0em;
        word-break: break-all;

    }
}

.right
{
    margin-left: auto;
    min-width: 106px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    p
    {
        font-size: 2rem;
        padding-right: 1em;
    }
}



.remove,.edit
{
     
        background-color: rgb(32, 166, 255);
        font-size: 1rem;
        padding: .5em 1em;
        border: none;
        color: white;
        text-decoration: none;
        display: inline-block;
       
}
.remove
{
    background-color: rgb(255, 96, 96);
    cursor: pointer;
}

